.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  border-radius: 10px;
  padding: 15px;
  width: 320px;
  height: fit-content;
  color: var(--color-primary);

  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-third);

    i {
      position: absolute;
      cursor: pointer;
      right: 0;
    }

    h3 {
      font-size: 32px;
      margin: 0;
      padding: 0;
    }

    span {
      font-size: 15px;
      color: var(--color-secondary);
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-row {
    width: 100%;
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-col {
    width: 100%;
    position: relative;
    align-self: flex-start;
    margin-bottom: 10px;
    padding: 0 10px;

    &-header {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 13px;
      color: var(--color-secondary);

      i {
        margin-top: 2px;
      }
    }
  }

  &-info {
    font-size: 11px;
    color: var(--color-secondary);

    p {
      margin: 10px 0;

      a {
        color: var(--blue-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;

    button {
      width: 70%;
    }
  }
}

@media (min-width: 539px) {
  .register {
    width: 400px;

    &-row {
      flex-direction: row;

      input {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .register {
    &-row {
      :nth-child(2) {
        .input-error-desktop {
          left: 106%;
          .input-arrow-left {
            transform: rotate(180deg);
            right: 100%;
          }
        }
      }
    }
  }
}
