.creat {
  &-post {
    cursor: pointer;
    &-header {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 0 5px 0;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .open-post {
        height: 41px;
        flex: 1;
        border-radius: 50px;
        font-size: 17px;
        line-height: 21px;
        background: var(--bg-forth);
        color: var(--color-secondary);
        display: flex;
        align-items: center;
        padding-left: 10px;
      }
    }
    .splitter {
      margin: 7px 0;
      width: auto;
    }

    &-body {
      padding: 0 0 8px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-weight: 600;
      padding: 7px;
      color: var(--color-secondary);
      border-radius: 10px;
      font-size: 14px;
    }
  }
}
