.menu {
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 360px;
  border-radius: 10px;
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  user-select: none;

  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
    margin-bottom: 10px;
    padding: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span:first-of-type {
      color: var(--color-primary);
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1px;

      &:last-of-type {
        font-size: 14px;
      }
    }
  }

  &-main {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;

    &-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
    }

    &-sub-text {
      font-size: 14px;
      color: var(--color-secondary);
    }
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;

    .rArrow {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
