.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-areas:
  "header header header"
  "left middle right";
  grid-template-columns: 200px 1fr 230px;
  column-gap: 30px;

  &-middle {
    max-width: 780px;
    margin: 75px auto 0 auto;
    position: relative;
    grid-area: middle;
  }
  &-right {
    grid-area: right;
  }
}

@media (max-width: 1040px) {
  .left-home {
    width: 70px;
    &-link {
      background: var(--bg-third);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      span {
        display: none;
      }

      &-col,
      &-col-text {
        display: none;
      }
    }

    &-shortcut {
      display: none;
      &-item {
        span {
          display: none;
        }
      }
    }
    .splitter,
    .fb-copyright {
      display: none;
    }
  }
  .home {
    grid-template-columns: 80px 1fr 230px;
    column-gap: 20px;
  }

  .stories,
  .cr-post {
    width: 100%;
  }
}

@media (max-width: 885px) {
  .stories {
    width: 100%;
  }

  .home {
    grid-template-areas:
    "header header"
    "left middle";
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
    &-middle {
     margin-right: 20px;
    }
  }
}

@media (max-width: 805px) {
  .stories {
    grid-template-columns: repeat(6, 1fr);

    .create-story {
      &-card {
        filter: brightness(96%);
      }
      &-text {
        display: none;
      }
    }

    .story-profile {
      &-pic {
        width: 7vw;
        height: 7vw;
      }
      &-name {
        display: none;
      }
    }

    .white-circle {
      right: 5px;
    }
  }

  // .left-home::-webkit-scrollbar {
  //   display: none;
  // }
}

@media screen and (max-width: 775px) {

  .stories,
  .cr-post {
    width: 100%;
    &-icon {
      font-size: 12px;
    }
    &-header {
      .open-post {
        font-size: 16px;
      }
    }
  }
  .stories {
    grid-template-columns: repeat(4, 1fr);
    .create-story-card,
    .story {
      height: 30vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    grid-template-areas:
    "header"
    "middle";
    grid-template-columns: 1fr;
    column-gap: 20px;
    &-middle {
     margin: 75px 20px 0 20px;
    }
  }
}