.left {
  &-home {
    position: fixed;
    top: 60px;
    left: 6px;
    max-height: calc(100vh - 65px);
    width: 300px;
    overflow-y: auto;
    color: var(--color-primary);
    padding: 10px 0;
    user-select: none;

    &-link {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 2px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 11px;
        vertical-align: 0.25em;
      }
      span {
        margin-bottom: 4px;
        margin-left: 1px;
      }

      &-col {
        margin-left: 2px;
        transform: translateY(-2px);

        &-text {
          transform: translateX(-1px);
        }

        &-notification {
          position: relative;
          font-size: 12px;
          color: var(--blue-color);
          margin-left: 9px;

          &::before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: var(--blue-color);
            position: absolute;
            left: -10px;
            bottom: 4px;
          }
        }
      }
    }
    &-shortcut {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-heading {
        font-size: 16px;
        font-weight: 600;
        padding: 13px 10px 11px 10px;
        color: var(--color-secondary);
      }

      &-edit {
        cursor: pointer;
        color: var(--blue-color);
        display: none;
        font-size: 14px;
        margin-right: 20px;
      }

      &:hover {
        .left-home-shortcut-edit {
          display: block;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;

        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    .fb-copyright {
      margin-left: 10px;
      font-size: 12px;
      color: var(--color-secondary);
    }
  }
}
